<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Million></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem vindo</h1>
    <p>Informações IPI</p>
  </body>
</html>
