<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Aplicação teste Api adom_million_ipi</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
